<form *ngIf="showAddTask" class="add-form"(ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task :</label>&nbsp;
        <input type="text" name="text" [(ngModel)]="text" id="text"  placeholder="Add Task">
    </div>

    <div class="form-control">
        <label for="text">Day & Time: </label>&nbsp;
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day and time">
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label> &nbsp;
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" placeholder="Add Day and time">
    </div><br>
    {{ text }}
    <div class="container-fluid py-3 ">
        <input type="submit" value="save task" class="btn btn-primary">
    </div>
</form>